@tailwind base;
@tailwind components;
@tailwind utilities;

// :root {
//    --foreground-rgb: #eff4ff;
//    --background-start-rgb: 0, 0, 0;
//    --background-end-rgb: 0, 0, 0;
// }

// @media (prefers-color-scheme: dark) {
//    :root {
//       --foreground-rgb: black;
//       --background-start-rgb: 214, 219, 220;
//       --background-end-rgb: 255, 255, 255;
//    }
// }

@font-face {
   font-family: 'IRANYekanRegular';
   font-display: swap;
   src:
      url('/font/IRANYekanRegular.woff2') format('woff2'),
      url('/font/IRANYekanRegular.woff') format('woff');
}

@font-face {
   font-family: 'IRANYekanBold';
   font-display: swap;
   src:
      url('/font/IRANYekanBold.woff2') format('woff2'),
      url('/font/IRANYekanBold.woff') format('woff');
}

@font-face {
   font-family: 'IRANYekanBlack';
   font-display: swap;
   src:
      url('/font/IRANYekanBlack.woff2') format('woff2'),
      url('/font/IRANYekanBlack.woff') format('woff');
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html {
   min-height: 100vh;
   scroll-behavior: smooth;
}

body {
   color: rgb(var(--foreground-rgb));
   background: #f4f5f7;
   user-select: none;
}

a {
   text-decoration: none;
   font-size: 1rem;
   font-family: IRANYekanBold, sans-serif;
   color: rgb(43, 45, 83);
}

h1 {
   font-size: 1.4rem;
   font-family: IRANYekanBlack, sans-serif;
   color: rgb(43, 45, 83);
}

h2 {
   font-size: 1.1rem;
   font-weight: bold;
   font-family: IRANYekanBlack, sans-serif;
   color: rgb(43, 45, 83);
}

h3 {
   font-size: 1rem;
   font-weight: bold;
   font-family: IRANYekanRegular, sans-serif;
   color: rgb(43, 45, 83);
}

h4 {
   font-size: 1rem;
   font-family: IRANYekanRegular, sans-serif;
   color: rgb(43, 45, 83);
}

h5 {
   font-size: 1rem;
   letter-spacing: -1px;
   font-family: IRANYekanRegular, sans-serif;
   color: rgb(43, 45, 83);
}

button {
   font-size: 1rem;
   letter-spacing: -1px;
   font-family: IRANYekanRegular, sans-serif;
   padding: 0.5rem 0.1rem;
   color: rgb(43, 45, 83);
}

p {
   font-size: 1rem;
   font-family: IRANYekanRegular, sans-serif;
   color: rgb(43, 45, 83);
}

input,
textarea {
   font-size: 1rem;
   font-family: IRANYekanRegular, sans-serif;
   background: #f3f4f6;
   color: rgb(43, 45, 83);

   &::placeholder {
      color: rgb(179, 188, 200);
   }
}

span {
   font-family: IRANYekanRegular, sans-serif;
   font-size: 0.8rem;
   color: rgb(43, 45, 83);
}

label {
   font-family: IRANYekanRegular, sans-serif;
   font-size: 1rem;
}

hr {
   border: solid 1px rgb(224, 224, 224);
   margin: 1rem 0;
}

h6 {
   font-size: 0.8rem;
   font-family: IRANYekanRegular, sans-serif;
   color: gray;
}

strong {
   font-family: IRANYekanBlack, sans-serif;
}

.rtl {
   direction: rtl;
}

.ltr {
   direction: ltr;
}

.yekan1 {
   font-family: IRANYekanRegular, sans-serif;
}

.yekanBlack {
   font-family: IRANYekanBlack, sans-serif;
}

/* Hide scrollbar for IE, Edge and Firefox */
.styled-scrollbars {
   /* Foreground, Background */
   scrollbar-color: #60a5fa transparent;

   &::-webkit-scrollbar {
      width: 3px; /* Mostly for vertical scrollbars */
      height: 3px; /* Mostly for horizontal scrollbars */
   }

   &::-webkit-scrollbar-thumb {
      /* Foreground */
      background: #60a5fa;
   }

   &::-webkit-scrollbar-track {
      /* Background */
      background: transparent;
   }
}

.toman {
   &_card {
      display: flex;

      &:before {
         content: url('/toman_card.svg');
         display: block;
         margin-right: 0.2rem;
         font-family: IRANYekanRegular, sans-serif;
      }
   }

   &_course {
      display: flex;

      &:before {
         content: url('/toman.svg');
         display: block;
         margin-right: 0.2rem;
         font-family: IRANYekanRegular, sans-serif;
      }
   }
}

.invalidInput {
   border: 2px solid red;
}

.Toastify__toast {
   border-radius: 15px !important;
   
   &-body {
      font-size: 1rem;
      font-family: IRANYekanRegular, sans-serif;
   }
}

.MuiFormLabel-root {
   font-family: IRANYekanRegular, sans-serif !important;
}

.MuiMenuItem-root {
   font-family: IRANYekanRegular, sans-serif !important;
}

.MuiInputBase-root {
   font-size: 0.9rem;
   font-family: IRANYekanRegular, sans-serif !important;
}

.MuiAutocomplete-option {
   font-family: IRANYekanRegular, sans-serif !important;
}

.MuiTooltip-tooltip {
   font-family: IRANYekanRegular, sans-serif !important;
   background: rgb(44, 47, 79);
}

.MuiButton-contained {
   font-family: IRANYekanRegular, sans-serif !important;
   background: #0084ff !important;
   font-weight: 600 !important;
   box-shadow: 0 5px 10px #708dff9c !important;

   &:hover {
      background: #2495ff !important;
   }
}

.MuiButton-outlined {
   font-family: IRANYekanRegular, sans-serif !important;
   border: 2px solid #708dff9c;
   font-weight: 600 !important;

   &:hover {
      background: transparent !important;
      border: 2px solid #6281ff;
   }
}

.MuiAccordion-root {
   margin: 1rem 0;
   border: 1px solid rgb(100 116 139) !important;
   border-radius: 15px !important;
}

.MuiPopover-paper {
   border-radius: 15px !important;
}

.MuiFormControlLabel-label {
   font-family: IRANYekanRegular, sans-serif !important;
   font-size: 14px;
   color: rgb(100 116 139);
}

.MuiDrawer-paper {
   border-radius: 25px;
}

.MuiStepConnector-root {
   transform: translateX(8rem);
   margin: 0 0.5rem;
}

.MuiSlider-thumb {
   color: #2495ff !important;
}

.MuiSlider-track {
   background-color: #0066ff !important;
   border: none !important;
}

.MuiSlider-rail {
   background-color: #71aaff !important;
}

.MuiSlider-markLabel {
   font-family: IRANYekanRegular, sans-serif !important;
   font-size: 14px;
   color: rgb(100 116 139);
}

.MuiSlider-mark {
   background-color: #0084ff !important;
   width: 6px !important;
   height: 6px !important;
   border-radius: 15px !important;
}

.MuiSlider-valueLabel {
   background: #0084ff !important;

   &Label {
      color: white !important;
   }
}

.MuiChip-root {
   border-radius: 5px !important;
}
